/*
Theme Name: Flat Bootstrap Child
Theme URI: http://xtremelysocial.com/wordpress/child/
Description: Child theme for Flat Bootstrap. Includes a stylesheet (style.css) for you to restyle any of the CSS and a functions.php file to change theme parameters or components. Both files include samples of a few common things you might want to do.
Author: XtremelySocial
Author url: http://xtremelysocial.com
Version: 1.5
License: GNU General Public License
License URI: http://www.opensource.org/licenses/GPL-3.0
Template: flat-bootstrap
Template Version: 1.9
Tags: one-column, right-sidebar, left-sidebar, fluid-layout, responsive-layout, custom-header, custom-menu, featured-images, featured-image-header, full-width-template, flexible-header, theme-options, sticky-post, threaded-comments, light, translation-ready, rtl-language-support, custom-background
*/

/* 
 * IMPORT the parent theme's stylesheet(s). NOTE: This was moved to functions.php for
 * performance reasons.
 */
/*@import url("../flat-bootstrap/style.css");*/

/* PUT YOUR CHANGED STYLES HERE 
 * 
 * The best way to do this is to copy in the relevant section from the parent's style.css
 * file, change what you want, and remove the lines that you didn't change.
 *
 * NOTE: All these examples here are included just to show you how to do the most common
 * things that users have requested, such as changing colors and the look of buttons, etc.
*/

/* Change the content (page) header to dark blue. */
#page {
	width: 100%;
	max-width: 100%;
}

body {
	background-color: white;
}

.container-fluid {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-left: 0;
	padding-right: 0px;
}

.container-fluid .row {
	max-width: 1600px;
margin-left: 0px;
	margin-right: 0px;
	padding-left:10px;
	padding-right: 10px;
}

.content-header {
	background-color: olive;
}

img {
	object-fit: contain;
}



h1, h2, h3 {
	font-family: 'Rubik', sans-serif;

}

h3 {
	font-weight: 500; !important
	
}
/*

h3 a {
	padding-bottom: 10px;
	border-bottom: #0da5dc solid 5px;
}
*/
h4 {
	font-family: 'Rubik', sans-serif;
}


.site-title a {
	color: olive;
}

/* Change the main link color to dark blue. Note that the hover color is set using a 
 * neat trick with the opacity tag. This simply lightens whatever the link color is. That
 * way we don't need to try to figure out a hover color that looks good. 
 */


a {
	color: #0da5dc;
}
a:hover,
a:focus {
	color: #0da5dc;
	opacity: .75;
}

/* Make the buttons square, if you'd like. */
.btn {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

/* PUT ANY NEW STYLES TO USE IN YOUR CONTENT AREAS HERE SO YOU CAN EASILY PASTE THIS
 * SECTION IF YOU CHANGE THEMES
 */

.upw-posts article {
	width: 30%;
	float: left;
	margin-right: 3%;
}
#site-branding {
	margin-top: 70px;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 3px black solid;
	margin-bottom: 20px;
}

#site-branding .container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: repeat(10, 1fr);
	
}

.site-logo {
	grid-column: 1/4;
	grid-row: 1/3;
}

.currentissueheader {
	grid-column: 7/11;
	grid-row: 1/3;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.issuecover {
	grid-column: 1/2;
	grid-row: 1/3;
}

.currentissuegroup {
	grid-column: 2/3;
	grid-row: 1/3;
	margin-left: -30%;
}
.navbar {
	max-width: 100%;
}
.navbar.navbar-fixed-top {
	padding-top: 10px;
	padding-bottom: 10px;
	trransition: .5s ease;
}
.navbar-static-top {
}

.currentissueheader img {
	max-height: 20vh;
	
}

.currentissueheader {
	height: 20vh;

}

.wanderwomenlogoonscroll {
	height: 60px;
	display: none;
}

.makevisible {
	display:inherit;
}

.black{
	background-color: black;
	color: white;
}

.white{
	background-color: white;
	color: black;
}

.navbar-default .navbar-nav>li>a {
	color: white; !important
	font-family: 'Rubik', sans-serif;
	transition: .5s ease;
	font-weight: bold;
}

.navbar-default .navbar-nav>.active > a, 
.navbar-default .navbar-nav>.active> a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	background-color: none; !important
	text-decoration: underline;
	font-family: 'Rubik', sans-serif;
}

button {
	background-color: #0da5dc;
	border-color: #0da5dc;
}

button:hover, button:focus, html input[type="button"]:hover, html input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
	background-color: #2980b9; !important
	border-color: #2980b9; !important
	box-shadow: 1px 1px 1px grey;
}

/* featured styles */

#featured {
	
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat (8, 1fr);
	height: 100%;
}

#mapofcdmx {
	grid-row: 2/10;
	grid-column: 2/8;
	z-index: 10;
	height: 100vh;
	max-height: 800px;
    width: 100%;
    min-width: 800px;
}

#featured h1 {
	grid-row: 2/3;
	grid-column: 7/10;
	font-size: 150px;
	font-weight: 500;
	font-color: black;
	line-height: 110px;
	z-index: 100;
}

#featuredtitle {
	grid-row: 2/3;
	grid-column: 1/2;
	z-index: 80;
}

#featuredtitle h2 {
	font-size: 40px;
	color: black;
	transform: rotate(-90deg);
}

#featuredbutton {
	grid-row: 7/8;
	grid-column: 7/8;
	width: 100px;
	z-index: 200;
}

#featured h4 {
	grid-row: 3/5;
	grid-column: 7/10;
	z-index: 110;
}

#currentissue {
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
	padding: 2vh 2vw;
}

#currentissue img {
	height: 65vh;
	width: auto;
}

.featured-country-img {
	margin: 0;
	padding: 0;
}
.featured-country-text {
	display: flex;
	flex-direction: column;
}

.featured-country-text h1 {
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: 500;
}

.featured-country-text h4 {
	background-color: #0da5dc;
	color: white;
	padding: 10px;
}


.fluidblack {
	margin-top: 60px;
	margin-bottom: 60px;
	background-color: #0da5dc;
}

.country-fluid {
	margin-left: 0;
	margin-top: 0;
	padding-left: 0;
	display: flex;
	justify-content: center;
}

#sidebar-pagebottom aside .container img {
	max-width: 40vw;
}

.sectionheadline {
	border-top: 3px black solid;
	padding: 20px;
		border-bottom: 3px black solid;
	color: black;
	margin: 60px 0;
	text-align: center;
	width: 100%;
}

.sectionimg {
	max-height: 400px;
	padding-right: 5px;
}

.sectionpost {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.after-footer {
	max-width: 100%;
	background: black;
}

.footer-info {
	display: flex;
	flex-direction: column;
	border-top: 3px black solid;
	padding: 20px;
margin-top: 20px;
}

.row.socialmedia-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.linebackground {
	background-image: url('http://wanderwomen.atiagina.com/wp-content/uploads/2017/11/2lines.png');
	background-size: 10px 10px;
	overflow: hidden;
background-repeat: repeat;
background-position: right top;
	padding-right: 10px;
	
}

.overlaycontainer {
    position: relative;
}

.overlayimage {
  opacity: 1;
 
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.overlaycontainer:hover .image {
  opacity: 0.3;
}

.overlaycontainer:hover .middle {
  opacity: 1;
}

.overlaytext {
  background-color: none;
  color: black;
  font-size: 24px;
  padding: 24px 32px;
}

.light .nivo-caption a.fa-read-more {
	background: #0da5dc;
border-radius: 5px;
padding: 5px 10px;
border: none;
color: white;
font-weight: 500;
text-decoration: none;
white-space: nowrap;
}

div.interviewgrid1 {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

div.interviewgrid1 .interviewhero {
	grid-column: 1/6;
	grid-row: 2/8;
}

div.interviewgrid1 .interviewheadline {
	grid-column: 5/9;
	grid-row: 1/3;
}

div.interviewgrid1 .interviewintro {
	grid-column: 6/9;
	grid-row: 4/8;
}
